body {
	font-family: 'Arial';
	color: white;
}
body:not(.nobg) {
	background-image: url("/img/bg.png");
}
img { cursor: pointer; }
a { color:orange; }

.box {
	background:rgba(0,0,0,0.2);
	padding: 5px;
}
.plist
{
	margin-bottom: 7px;
	margin-top: 5px;
}
.teambox
{
	display: inline-block;
	margin: 20px;
}

#mapc
{
	position: relative;
	width: 1000px;
}
